# OS
.DS_Store
Thumbs.db

# Laravel
laravel/vendor/
laravel/node_modules/
laravel/.env
laravel/.env.*
laravel/storage/logs/
laravel/storage/framework/
laravel/bootstrap/cache/

# Node
node_modules/

# IDE
.vscode/
.idea/
